{%extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<style>
  {
    width: 800px;
    margin: auto;
    text-aling;center;
    
  } 
  
</style>

<div class="container  ">
    {% for place in places %}

    <div class="card mb-3" style="max-width: 860px;">
        <div class="row g-0">
          <h2 class="card-title">place_name:{{place.place_name}}</h2>
          <div class="col-md-4" style="width: 750px;">
            <img src="{{place.image.url}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">details:{{place.details}}</p>
              <h6 class="card-text">name : {{place.name}}</h6>
              {% comment %} <p class="card-text"><small class="text-muted">{{st</small></p> {% endcomment %}
            </div>
          </div>
        </div>
    </div>
    
    
    
    
    {% endfor %}
</div>
{% endblock body %}